.container {
  height: 630px;
  background-image: url("/img/bg-footer.png");
  background-repeat: no-repeat;
  background-position-y: top;
  background-position-x: center;
  background-size: contain;
}
